.schedule a {
  color: #E12B00;
  border: none;
}

.schedule a:hover {
  color: #E12B00;
  text-decoration: underline;
  border: none;
};

.schedule a:active {
  color: red;
  text-decoration: underline;
  border: none;
}

.schedule a:visited {
  color: #B82300;
  text-decoration: none;
  border: none;
}

.name{
  padding-right: 0px;
}

.name input{
  border-radius: 10px 0px 0px 10px;
}
.email{
  padding-left: 5px;
  padding-right: 0px;
}
.email input{
  border-radius: 0px;
}
.submit-btn{
  padding-left: 5px;
}
.submit-btn input{
  border-radius: 0px 10px 10px 0px;
}